.btn:focus, .btn-shorten:focus{
  outline: 0 !important;
}

html,
body {
  height: 100%;
  background-color: #158265;
}

body {
  color: #fff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.btn-shorten {
  color: #ffffff;
  background-color: #F89406;
  border: none;
}

.btn-shorten:hover,
.btn-shorten:focus,
.btn-shorten:active,
.btn-shorten.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}

@media (min-width: 768px) {
  .main-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .main-container {
    width: 700px;
  }
}
